<template>
  <div class=graphs-wrapper>
    <ul>
      <li v-for="(graph, index) in this.dataSet" :key="index" class="graph">
        <p class="graph__title text-color">{{graph.title}}</p>
        <div class="graph-body">
          <div v-for="(item, ind) in graph.ranges"
            :key="ind"
            class="graph-body__section"
            :class="'color-' + ind"
            :style="{width: item + '%'}"
            >
          </div>
          <div class="graph-body__line" :style="{width: graph.value + '%'}">
            <i class="icon flaticon-right-arrow"></i>
          </div>
        </div>
        <div class="graph-description text-color">
          <span>${{graph.minValue}}</span>
          <span>${{graph.maxValue}}</span>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data: () => ({
    dataSet: [
    ]
  }),
  mounted: async function () {
    fetch('https://simple-graph-on-vue.firebaseio.com/dataSet.json', {
      header: {
        'Content-type': 'applications/json'
      }
    })
      .then(data => data.json())
      .then(data => { this.dataSet = data })
  }
}

</script>

<style lang="stylus">
// Add flaticon lib
@import '../assets/icons/flaticon.css'

// Colors
$black = #0b1d33
$blue = #216aff
$light-blue = #77c3f7

.graphs-wrapper
  padding  0 2rem
  ul
    margin 0
    padding 0

.graph
  margin 1.5rem 0
  padding 0
  list-style-type none
  &__title
    margin-bottom 0.5rem
  &-body
    display flex
    position relative
    align-items center
    border-radius 20px
    overflow hidden
    &__section
      min-height 2rem
    &__line
      position absolute
      left 0
      border-bottom 1px dashed #fff
  &-description
    display flex
    justify-content space-between
    padding 0 0.5rem
    padding-top 0.2rem

.icon
  position absolute
  right 0
  top -10px
  color #fff

// Color class
.color-0
  background-color $black

.color-1
  background-color $blue

.color-2
  background-color $light-blue

.text-color
  color rgba($black, 0.7)

</style>
