<template>
  <div id="app">
    <div class="title-block pd-trl-1 pd-rl-2">
      <strong>FORECASTS</strong>
      <select class="select">
        <option value="Sales">Sales</option>
      </select>
    </div>
    <div class="border-block"></div>
    <div class="body-block pd-rbl-1">
      <graph></graph>
    </div>
  </div>
</template>

<script>
import Graph from './components/graph'

export default {
  name: 'App',
  components: {
    Graph
  }
}
</script>

<style lang="stylus">
// Colors
$black = #0b1d33
$blue = #216aff
$light-blue = #77c3f7

body
  display flex
  justify-content center
  align-items center
  padding 1rem
  background-color #eee

#app
  display flex
  flex-direction column
  box-shadow 0 0 5px 3px rgba(#ccc, 0.5)
  background-color #fff
  border-radius 20px
  width 80%
  min-width 450px

.title-block
  display flex
  justify-content space-between
  align-items center
  padding-bottom 0

.select
  padding 0.5rem
  border-radius 50px
  background-color $blue
  color #fff

.border-block
  padding 0.4rem 0
  border-bottom 1px solid rgba(#000, 0.2)

// Top Right Bottom Left = trbl
.pd-trl-1
  padding 1rem
  padding-bottom 0

.pd-rbl-1
  padding 1rem
  padding-top 0

.pd-rl-2
  padding-left 2rem
  padding-right 2rem
  padding-bottom 0

.body-block
  min-width 300px

</style>
